language: rust
before_install:
  - yes | sudo add-apt-repository ppa:zoogie/sdl2-snapshots
  - sudo apt-get -qq update
  - sudo apt-get -qq install libsdl2-dev libsdl2-ttf-dev
script:
  - cargo build --verbose
  - cargo test --verbose
